{
  "semi": false,
  "trailingComma": "none",
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.html", "*.css"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["*.js"],
      "options": { "semi": true }
    }
  ]
}
