/* The Props */

/* The Prop Borders */

/* The Prop Sizes */

/* The Prop Fonts */

/* The Prop Easings */

:root {
  /* The Colors */
  --navy-950: hsl(226, 43%, 10%);
  --navy-900: hsl(235, 46%, 20%);
  --purple-500: hsl(235, 45%, 61%);
  --navy-200: hsl(236, 100%, 87%);
  --purple-600: hsl(246, 80%, 60%);
  --orange-300: hsl(15, 100%, 70%);
  --blue-300: hsl(195, 74%, 62%);
  --pink-400: hsl(348, 100%, 68%);
  --green-400: hsl(145, 50%, 55%);
  --purple-700: hsl(264, 64%, 52%);
  --yellow-300: hsl(43, 84%, 65%);
  --gray-200: hsl(0, 0%, 85%);
  --white: hsl(0, 100%, 100%);
  --black: hsl(0, 0%, 0%);

  /* Size */
  --space-11: clamp(0.1875rem, 0.1875rem + 0vw, 0.1875rem);
  --space-12: clamp(0.375rem, 0.3571rem + 0.0893vw, 0.4375rem);
  --space-13: clamp(0.5625rem, 0.5446rem + 0.0893vw, 0.625rem);
  --space-14: clamp(0.75rem, 0.7143rem + 0.1786vw, 0.875rem);
  --space-15: clamp(1.125rem, 1.0893rem + 0.1786vw, 1.25rem);
  --space-16: clamp(1.5rem, 1.4464rem + 0.2679vw, 1.6875rem);
  --space-17: clamp(2.25rem, 2.1607rem + 0.4464vw, 2.5625rem);
  --space-18: clamp(3rem, 2.8929rem + 0.5357vw, 3.375rem);
  --space-19: clamp(4.5rem, 4.3393rem + 0.8036vw, 5.0625rem);
  --space-11-12: clamp(0.1875rem, 0.1161rem + 0.3571vw, 0.4375rem);
  --space-12-13: clamp(0.375rem, 0.3036rem + 0.3571vw, 0.625rem);
  --space-13-14: clamp(0.5625rem, 0.4732rem + 0.4464vw, 0.875rem);
  --space-14-15: clamp(0.75rem, 0.6071rem + 0.7143vw, 1.25rem);
  --space-15-16: clamp(1.125rem, 0.9643rem + 0.8036vw, 1.6875rem);
  --space-16-17: clamp(1.5rem, 1.1964rem + 1.5179vw, 2.5625rem);
  --space-17-18: clamp(2.25rem, 1.9286rem + 1.6071vw, 3.375rem);
  --space-18-19: clamp(3rem, 2.4107rem + 2.9464vw, 5.0625rem);
  --space-14-16: clamp(0.75rem, 0.4821rem + 1.3393vw, 1.6875rem);
  --space-15-17: clamp(1.125rem, 0.7143rem + 2.0536vw, 2.5625rem);
  --space-16-18: clamp(1.5rem, 0.9643rem + 2.6786vw, 3.375rem);
  --space-17-19: clamp(2.25rem, 1.4464rem + 4.0179vw, 5.0625rem);

  /* Display*/
  --hidden: none;
  --block: block;
  --inline: inline;
  --inline-block: inline-block;
  --flex: flex;
  --inline-flex: inline-flex;
  --grid: grid;
  --inline-grid: inline-grid;

  /* Radius */

  /* Typography */

  /* For Screen readers*/

}