/* The Props */
@import "npm:open-props/open-props.min.css";

/* The Prop Colors */
@import "npm:open-props/colors-hsl.min.css";

/* The Prop Borders */
@import "npm:open-props/borders.min.css";

/* The Prop Media */
@import "npm:open-props/media.min.css";

/* The Prop Easings */
@import "npm:open-props/easings.min.css";

/* The Prop Z-indexes */
@import "npm:open-props/zindex.min.css";

/* The Prop Fonts */
@import "npm:open-props/fonts.min.css";

:root {
  /* The Colors */
  --navy-800: hsl(235, 41%, 34%, 1);
  --navy-950: hsl(226, 43%, 10%);
  --navy-900: hsl(235, 46%, 20%);
  --purple-500: hsl(235, 45%, 61%);
  --navy-200: hsl(236, 100%, 87%);
  --purple-600: hsl(246, 80%, 60%);
  --orange-300: hsl(15, 100%, 70%);
  --blue-300: hsl(195, 74%, 62%);
  --pink-400: hsl(348, 100%, 68%);
  --green-400: hsl(145, 50%, 55%);
  --purple-700: hsl(264, 64%, 52%);
  --yellow-300: hsl(43, 84%, 65%);
  --gray-200: hsl(0, 0%, 85%);
  --white: hsl(0, 100%, 100%);
  --black: hsl(0, 0%, 0%);

  /* Size */
  --space-11: clamp(0.1875rem, 0.1875rem + 0vw, 0.1875rem);
  --space-12: clamp(0.375rem, 0.3571rem + 0.0893vw, 0.4375rem);
  --space-13: clamp(0.5625rem, 0.5446rem + 0.0893vw, 0.625rem);
  --space-14: clamp(0.75rem, 0.7143rem + 0.1786vw, 0.875rem);
  --space-15: clamp(1.125rem, 1.0893rem + 0.1786vw, 1.25rem);
  --space-16: clamp(1.5rem, 1.4464rem + 0.2679vw, 1.6875rem);
  --space-17: clamp(2.25rem, 2.1607rem + 0.4464vw, 2.5625rem);
  --space-18: clamp(3rem, 2.8929rem + 0.5357vw, 3.375rem);
  --space-19: clamp(4.5rem, 4.3393rem + 0.8036vw, 5.0625rem);
  --space-20: clamp(2rem, 0.2232rem + 6.0714vw, 5.6875rem);
  --space-11-12: clamp(0.1875rem, 0.1161rem + 0.3571vw, 0.4375rem);
  --space-12-13: clamp(0.375rem, 0.3036rem + 0.3571vw, 0.625rem);
  --space-13-14: clamp(0.5625rem, 0.4732rem + 0.4464vw, 0.875rem);
  --space-14-15: clamp(0.75rem, 0.6071rem + 0.7143vw, 1.25rem);
  --space-15-16: clamp(1.125rem, 0.9643rem + 0.8036vw, 1.6875rem);
  --space-16-17: clamp(1.5rem, 1.1964rem + 1.5179vw, 2.5625rem);
  --space-17-18: clamp(2.25rem, 1.9286rem + 1.6071vw, 3.375rem);
  --space-18-19: clamp(3rem, 2.4107rem + 2.9464vw, 5.0625rem);
  --space-14-16: clamp(0.75rem, 0.4821rem + 1.3393vw, 1.6875rem);
  --space-15-17: clamp(1.125rem, 0.7143rem + 2.0536vw, 2.5625rem);
  --space-16-18: clamp(1.5rem, 0.9643rem + 2.6786vw, 3.375rem);
  --space-17-19: clamp(2.25rem, 1.4464rem + 4.0179vw, 5.0625rem);

  /* Display*/
  --hidden: none;
  --block: block;
  --inline: inline;
  --inline-block: inline-block;
  --flex: flex;
  --inline-flex: inline-flex;
  --grid: grid;
  --inline-grid: inline-grid;

  /* Radius */
  --radius-7: 6px;
  --radius-8: 8px;
  --radius-9: 10px;
  --radius-10: 12px;
  --radius-11: 15px;
  --radius-12: 20px;
  --radius-13: 24px;
  --radius-14: 26px;
  --radius-15: 28px;
  --radius-16: 30px;
  --radius-17: 34px;
  --radius-18: 36px;
  --radius-19: 38px;
  --radius-20: 40px;

  /* Typography */
  --ff-rubik-sans-serif: var(--ff-rubik), sans-serif;
  --ff-rubik: "Rubik";
  --font-style: normal;
  --font-size-fluid-0: clamp(0.75rem, 0.7232rem + 0.1339vw, 0.8438rem);
  --font-size-fluid-1: clamp(0.9375rem, 0.884rem + 0.2675vw, 1.1247rem);
  --font-size-fluid-2: clamp(1.1719rem, 1.0783rem + 0.4677vw, 1.4993rem);
  --font-size-fluid-3: clamp(1.4648rem, 1.3124rem + 0.7624vw, 1.9985rem);
  --font-size-fluid-4: clamp(1.8311rem, 1.5931rem + 1.1899vw, 2.664rem);
  --font-size-fluid-5: clamp(2.2888rem, 1.9282rem + 1.8033vw, 3.5511rem);

  /* For Screen readers*/
  --sr-only-width: 1px;
  --sr-only-height: 1px;
  --sr-only-padding: 0px;
  --sr-only-margin: -1px;
  --sr-only-border-width: 0;
  --sr-only-left: -1000px;
  --sr-only-top: auto;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* The style below prevents font-style inflation */
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  font-family: var(--ff-rubik-sans-serif);
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Avoid text overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Balance text wrappings on the heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}

/* Default line heights for paragraphs, heading, text in button, inputs, and label*/
h1,
h2,
h3,
h4,
p,
button,
input,
label {
  line-height: var(--font-lineheight-0);
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  height: auto;
  display: var(--block);
}

/* All buttons should have this style */
button {
  appearance: none;
  background: none;
  border: none;
  font-family: inherit;
  color: inherit;
}

/* Hide the input radio */
input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/* Inherits fonts for input and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove the text-decoration style for all anchor elements */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove the mark of the list items */
li {
  list-style-type: none;
  color: inherit;
}

/* We make sure that the text areas without rows are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* All anchor and button elements have an outline of none when focused */
a:focus,
button:focus {
  outline: none;
}

/* An elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Anything that has been anchored to should have an extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  width: 100%;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Using a font-size of 18px */
  font-size: 1.125rem;
  background-color: var(--navy-950);
  display: flex;
  align-items: center;
}

/* For screen readers */
.sr-only {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  width: var(--sr-only-width);
  height: var(--sr-only-height);
  padding: var(--sr-only-padding);
  margin: var(--sr-only-margin);
  border-width: var(--sr-only-border-width);
  top: var(--sr-only-top);
  left: var(--sr-only-left);
}

@custom-media --md-n-above (width >= 744px);
@custom-media --lg-n-above (width >=1024px);
@custom-media --xl-n-above (width >= 1200px);
@custom-media --mouse (hover) and (pointer: fine);

/* Dashboard Tracker Styles */
.dashboard-tracker {
  width: min(87.2%, 69.75rem);
  margin-inline: auto;
  display: var(--grid);
  gap: var(--size-fluid-3);
  @media (--lg-n-above) {
    grid-template-columns: 240px 1fr;
  }
}

.dashboard-tracker__report-card {
  background-color: var(--navy-900);
  border-radius: var(--radius-11);
  padding-block-end: var(--size-fluid-3);
}

.report-card__user-profile {
  background-color: var(--purple-600);
  border-radius: var(--radius-11);
  display: var(--flex);
  align-items: center;
  gap: var(--space-16-17);
  padding-inline-start: var(--size-7);
  padding-block-start: var(--size-7);
  padding-block-end: var(--space-20);

  @media (--lg-n-above) {
    align-items: unset;
    flex-direction: column;
  }
}

.text-content__report-for {
  color: var(--navy-200);
  font-style: var(--font-style);
  font-weight: var(--font-weight-4);
  font-size: var(--font-size-fluid-0);
  font-feature-settings:
    "liga" off,
    "clig" off;
  line-height: 1.2;
}

.text-content__user-name {
  color: var(--white);
  font-style: var(--font-style);
  font-weight: var(--font-weight-3);
  font-feature-settings:
    "liga" off,
    "clig" off;
  font-size: var(--font-size-fluid-2);
  line-height: 1.17;

  @media (--lg-n-above) {
    font-size: 2.5rem;
  }
}

.user-profile__image-container img {
  width: var(--size-fluid-5);
  height: var(--size-fluid-5);
  border: 3px solid var(--white);
  border-radius: 50%;
}

.time-period {
  display: flex;
  margin-block-start: var(--size-fluid-3);
  justify-content: space-evenly;

  @media (--lg-n-above) {
    flex-direction: column;
    padding-inline-start: var(--size-7);
    gap: var(--size-4);
  }
}

.time-period label {
  font-feature-settings:
    "liga" off,
    "clig" off;
  font-style: var(--font-style);
  font-weight: var(--font-weight-4);
  line-height: 1.12;
  color: var(--purple-500);
  font-size: var(--font-size-fluid-1);
  cursor: pointer;
}

input[type="radio"]:checked + label {
  color: var(--white);
}

.activities-cards {
  display: var(--grid);
  gap: var(--size-fluid-3);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  @media (--lg-n-above) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.activities-card_wrapper {
  margin-block-start: 2.5rem;
  border-radius: var(--radius-11);
  background-color: var(--navy-900);
  padding-block: var(--size-fluid-3);
  padding-inline: var(--size-fluid-3);
  position: relative;

  @media (--mouse) {
    &:hover {
      cursor: pointer;
      background-color: var(--navy-800);
      transition: background-color 0.5s var(--ease-out-3);
    }
  }
}

.activities-card_wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  padding-block: var(--size-fluid-4);
  left: 0rem;
  top: -2.5rem;
  z-index: -3;
  border-radius: var(--radius-11);
}

.activities-card_work {
  background-image: url(../assets/images/icon-work.svg);
  background-repeat: no-repeat;
  background-position: right 1.09rem top -0.7rem;
}

.activities-card_play {
  background-image: url(../assets/images/icon-play.svg);
  background-repeat: no-repeat;
  background-position: right 1.09rem top -0.7rem;
}

.activities-card_study {
  background-image: url(../assets/images/icon-study.svg);
  background-repeat: no-repeat;
  background-position: right 1.09rem top -0.7rem;
}

.activities-card_exercise {
  background-image: url(../assets/images/icon-exercise.svg);
  background-repeat: no-repeat;
  background-position: right 1.09rem top 0rem;
}

.activities-card_social {
  background-image: url(../assets/images/icon-social.svg);
  background-repeat: no-repeat;
  background-position: right 1.09rem top -1.1rem;
}

.activities-card_self-care {
  background-image: url(../assets/images/icon-self-care.svg);
  background-repeat: no-repeat;
  background-position: right 1.09rem top -0.95rem;
}

.work::before {
  background-color: var(--orange-300);
}

.play::before {
  background-color: var(--blue-300);
}

.study::before {
  background-color: var(--pink-400);
}

.exercise::before {
  background-color: var(--green-400);
}

.social::before {
  background-color: var(--purple-700);
}

.self-care::before {
  background-color: var(--yellow-300);
}

.activities-card_wrapper_nav {
  display: var(--flex);
  justify-content: space-between;
  align-items: center;
  margin-block-end: var(--size-fluid-2);
}

.activities-card_wrapper_nav p {
  font-style: var(--font-style);
  font-weight: var(--font-weight-5);
  font-size: var(--font-size-fluid-1);
  line-height: 1.17;
  color: var(--white);
  font-feature-settings:
    "liga" off,
    "clig" off;
}

.timeframes {
  display: var(--flex);
  justify-content: space-between;
  align-items: center;

  @media (--md-n-above) {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    gap: var(--size-2);
  }
}

.current {
  font-size: var(--font-size-fluid-3);
  color: var(--white);
  font-style: var(--font-style);
  font-weight: var(--font-weight-3);
  line-height: 1.19;
  font-feature-settings:
    "liga" off,
    "clig" off;

  @media (--md-n-above) {
    font-size: 3.0rem;

    @media (--lg-n-above) {
      font-size: 3.5rem;
    }
  }
}

.previous {
  color: var(--navy-200);
  font-size: var(--font-size-fluid-0);
  font-weight: var(--font-weight-4);
  line-height: 1.2;
  font-style: var(--font-style);
  font-feature-settings:
    "liga" off,
    "clig" off;
}
